<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlj.forum.web.mapper.ArticleMapper">
    <resultMap id="article" type="com.zlj.forum.web.dataobject.ArticleDO">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="uid" column="uid"/>
        <result property="favoriteNum" column="favorite_num"/>
        <result property="likeNum" column="like_num"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtUpdate" column="gmt_update"/>
        <result property="commentNum" column="comment_num"/>
    </resultMap>

    <update id="addCommentNum" parameterType="java.lang.Long">
        update article set comment_num = comment_num + 1 where id = #{aid}
    </update>

    <select id="getHomeList" resultMap="article">
        select *
        from article
        order by like_num desc, favorite_num desc, comment_num desc, gmt_update desc
        limit #{from}, #{size}
    </select>

    <select id="getArticleListByUid" resultMap="article">
        select *
        from article
        where uid = #{uid}
        order by gmt_update desc
        limit #{from}, #{size}
    </select>

    <select id="getArticleListByAids" resultType="com.zlj.forum.web.dataobject.ArticleDO">
        select
            t2.id as id,
            t2.title as title,
            t2.uid as uid,
            t2.favorite_num as favoriteNum,
            t2.like_num as likeNum,
            t2.gmt_create as gmtCreate,
            t2.gmt_update as gmtUpdate,
            t2.comment_num as commentNum
        from
            (
                select aid
                from my_favorite
                where uid = #{uid}
                order by gmt_create
                limit #{from}, #{size}
            ) t1
                left join article t2 on t1.aid = t2.id
    </select>
</mapper>