<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zlj.forum.web.mapper.UsersMapper">
    <resultMap id="users" type="com.zlj.forum.web.dataobject.UsersDO">
        <id property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="prefList" column="pref_list"/>
        <result property="username" column="username"/>
        <result property="userList" column="user_list"/>
    </resultMap>

    <select id="getAllUserIds" resultType="java.lang.Long">
        select uid from users
    </select>

    <select id="selectUsers" resultMap="users">
        select *
        from users
        <where>
            and uid in
            <foreach collection="uidList" item="uid" open="(" separator="," close=")">
                #{uid}
            </foreach>
        </where>
    </select>

    <update id="updatePrefList">
        update users set pref_list = #{prefList} where uid = #{uid}
    </update>

    <update id="updateUserList">
        update users set user_list = #{userList} where uid = #{uid}
    </update>
</mapper>